@inherits LayoutComponentBase

<PageTitle>DJATI Mining Managsement System</PageTitle>
<MudRTLProvider RightToLeft="false">
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudThemeProvider @ref="@_mudThemeProvider" Theme="MyTheme" />
    @Body
</MudRTLProvider>


@code {
    private MudThemeProvider _mudThemeProvider = null!;

    MudTheme MyTheme = new MudTheme()
        {
            Palette = new PaletteLight
            {

            },

            LayoutProperties = new LayoutProperties
            {
                AppbarHeight = "76px",
                DefaultBorderRadius = "4px"
            },

            Typography = new Typography
            {
                Default = new Default
                {
                    FontSize = "0.875rem",
                    FontWeight = 400,
                    LineHeight = 1.86,
                    FontFamily = new[] { "DM Sans", "sans-serif" }
                },

                H1 = new H1
                {
                    FontSize = "4rem",
                    FontWeight = 700,
                    LineHeight = 1.167,
                    LetterSpacing = " -.01562"
                },

                H2 = new H2
                {
                    FontSize = "3.75rem",
                    FontWeight = 300,
                    LineHeight = 1.2,
                    LetterSpacing = "-.00833"
                },

                H3 = new H3
                {
                    FontSize = "3rem",
                    FontWeight = 600,
                    LineHeight = 1.167,
                    LetterSpacing = "0"
                },

                H4 = new H4
                {
                    FontSize = "1.8rem",
                    FontWeight = 400,
                    LineHeight = 1.235,
                    LetterSpacing = ".00735"
                },

                H5 = new H5
                {
                    FontSize = "1.5rem",
                    FontWeight = 400,
                    LineHeight = 1.334,
                    LetterSpacing = "0"
                },

                H6 = new H6
                {
                    FontSize = "1.125rem",
                    FontWeight = 600,
                    LineHeight = 1.6,
                    LetterSpacing = ".0075em"
                },

                Button = new Button
                {
                    FontSize = ".8125rem",
                    FontWeight = 500,
                    LineHeight = 1.75,
                    LetterSpacing = ".02857em",
                    TextTransform = "uppercase"
                },
                Subtitle1 = new Subtitle1
                {
                    FontSize = "1rem",
                    FontWeight = 400,
                    LineHeight = 1.75,
                    LetterSpacing = ".00938em"
                },
                Subtitle2 = new Subtitle2
                {
                    FontSize = ".875rem",
                    FontWeight = 500,
                    LineHeight = 1.57,
                    LetterSpacing = ".00714em"
                },
                Body1 = new Body1
                {
                    FontSize = "0.875rem",
                    FontWeight = 400,
                    LineHeight = 1.5,
                    LetterSpacing = ".00938em"
                },
                Body2 = new Body2
                {
                    FontSize = ".8125rem",
                    FontWeight = 400,
                    LineHeight = 1.43,
                    LetterSpacing = ".01071em"
                },
                Caption = new Caption
                {
                    FontSize = ".75rem",
                    FontWeight = 400,
                    LineHeight = 1.66,
                    LetterSpacing = ".03333em"
                },
                Overline = new Overline()
                {
                    FontSize = ".75rem",
                    FontWeight = 400,
                    LineHeight = 2.66,
                    LetterSpacing = ".08333em"
                }
            }
        };
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>